extensions:
  plugins: []

sample:
  sampler: null
  options:
    weights: ema
    input_min: -1.0
    input_max: 1.0
  shape: null
  num_samples: 8
  batch_size: 4
  seed: 42
  writers:
    - name: tensor
      params: {}
